body {
  background-color: lavender;
}

h1 {
  color: black;
  text-decoration: underline;
  text-align: left;
}
p1{
  color: black;
  font-family: Arial;
    font-size: 15px;
}
p {
font-family: Arial;
  font-size: 20px;
}
